.board-cell {
  background: var(--cell-bg);
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  font-size: var(--cell-font-size);
  border: 1px solid rgba(0, 0, 0, 0.2);
  /* box-shadow: 5px5px 15px rgba(255, 255, 255, 0.1), 5px -5px 15px #babecc; */
  transition: 0.7s;
  user-select: none;
  cursor: pointer;
}

.board-cell.filled {
  box-shadow: none;
}

.board-cell.filled.player-x {
  background-color: rgba(15, 32, 131, 0.6);
}

.board-cell.filled.player-o {
  background-color: rgba(255, 30, 0, 0.6);
}

.board-cell.filled.winner-cell {
  background: linear-gradient(
    to left,
    rgba(233, 38, 12, 0.3),
    rgba(165, 151, 27, 0.7)
  );
  animation: change-bg 1s linear infinite;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

@keyframes change-bg {
  100% {
    filter: hue-rotate(360deg);
  }
}
